.main-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;
  gap:0.5rem;

}
.sub-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:  column;
  gap:0.5rem;

}
h2{
  text-align: center;
  margin-top:1.5rem
}
button{
  padding:0.5rem;
  display:block;
  margin:0.5rem auto;
}