.navbar {
  background: linear-gradient(#e66465, #9198e5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.nav-btn {
  border: none;
  background: none;
  font-size: 1.2rem;

}

select {
  // appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  // box-shadow: 4px 4px rgba(204, 204, 204, 0.5);
  cursor: pointer;
}

