.navbar {
  background: linear-gradient(#c2baba, #dbb177);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  font-family: sans-serif;
  height: 100%;
  label{
    font-weight: bold;
    margin-right:.5rem
  }
  select{
    margin-right:2rem
  }
  .nav-btn {
    border: none;
    background: none;
    font-size: 1.2rem;
    box-shadow: none;
    &:hover {
      cursor: pointer;
    }
    &:active{
      box-shadow: none
    }
  }
}

.logo {
  background: transparent;
  height: 100%;
}


select {
  // appearance: none;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: black;
  outline: none;
  // box-shadow: 4px 4px rgba(204, 204, 204, 0.5);
  cursor: pointer;
}
