.App {
  display: grid;
  grid-template-rows: 100px 1fr;
  img {
    width: 200px;
    aspect-ratio: 1;
  }
  .recepies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .recepie {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .recepieDetail {
    width: min(500px, 80%);
    margin: 0 auto;
  }
}
