.App {
  display: grid;
  grid-template-rows: 100px 1fr;
  img {
    width: 200px;
    aspect-ratio: 1;
  }
  .recepies {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .recepie {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      box-shadow: 0 0 10px 1px black;
    }
  }
  .recepieDetail {
    width: min(500px, 80%);
    margin: 0 auto;
  }
}
