.App {
  display: grid;
  gap:1rem;
  grid-template-rows: 100px 1fr;

  img {
    width: 200px;
    aspect-ratio: 1;
  }
  button {
    cursor: pointer;
    padding: 0.3rem;
    display: block;
    margin: 0.5rem auto;
    font-weight: bold;
    border:none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px 1px rgba(0 0 0 / 0.5);
      &:active{
        box-shadow: inset  1px 1px 2px 1px rgb(0 0 0 / 0.5);
      }
  }
  .recepies {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    .recepie {
      padding: 1rem;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 3px 3px 8px 1px rgb(0 0 0 / 0.5);
     
    }
  }
  .recepieDetail {
    padding:1rem;
    width: min(500px, 80%);
    margin: 0 auto;
    box-shadow: 3px 3px 8px 1px rgb(0 0 0 / 0.5);
    ol{
      padding:1rem;
    }
    ul>li{
      list-style: none;
    }
  }
  .commentForm {
    display: flex;
    flex-direction: column;
    width: min(500px, 80%);
    margin: 0 auto;
    gap: 1rem;
    input,
    textarea {
      font-size: 1.3rem;
      padding: 0.3rem;
      border: none;
      outline: none;
      border-bottom: 0.5px solid black;
      resize: none;
    }
  }
}
